dist: xenial
language: python

env:
  global:
    - PYTEST_ADDOPTS="--cov --cov-report=xml"

jobs:
  include:
    - python: '2.7'
      env: TOXENV=py27-coverage
    - python: '3.4'
      env: TOXENV=py34-coverage
    - python: '3.5'
      env: TOXENV=py35-coverage
    - python: '3.6'
      env: TOXENV=py36-coverage
    - python: '3.7'
      env: TOXENV=py37-coverage
    - python: '3.8-dev'
      env: TOXENV=py38-coverage
    - python: 'pypy'
      env: TOXENV=pypy-coverage
    - python: 'pypy3'
      env: TOXENV=pypy3-coverage
    # Fails currently badly.
    # - python: '3.7'
    #   env: TOXENV=qa

install:
  - pip install tox

script:
  - tox

after_script:
  - |
    if [[ "${TOXENV%-coverage}" != "$TOXENV" ]]; then
      bash <(curl -s https://codecov.io/bash) -Z -X gcov -X coveragepy -X search -X xcode -X gcovout -X fix -f coverage.xml -n $TOXENV
    fi

# Only master and releases.  PRs are used otherwise.
branches:
  only:
    - master
    - /^\d+\.\d+(\.\d+)?(-\S*)?$/
